@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span class="navbar-text">TP5: AgendaWeb — Blazor + EF Core + SQLite</span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    Ocurrió un error no controlado.
    <a href="." class="reload">Recargar</a>
    <span class="dismiss">🗙</span>
</div>
